<div class="container">
    <div class="row footer-sect">
        <div class="col-md-4 left-branding">
            <img src="assets/images/main-log.png" class="footer-logo" alt="">
            <span>
                <ul class="list-inline social-icons">
                    <li class="list-inline-item">
                        <span class="social-icon">
                            <fa-icon [icon]="faStar"></fa-icon>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="social-icon">
                            <fa-icon [icon]="faStar"></fa-icon>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="social-icon">
                            <fa-icon [icon]="faStar"></fa-icon>
                        </span>
                    </li>
                </ul>
            </span>
            <p class="catchy">Our Customers rate us as excellent</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <img class="trustpilot-logo" src="assets/images/trustpilot-brandmark-gr-blk-rgb-320-x-132-px@3x.png"
                        alt="">
                </li>
                <li class="list-inline-item">
                    <span class="site-rating">
                        <fa-icon [icon]="faStar"></fa-icon> 9.3/10
                    </span>
                </li>
            </ul>
            <div class="store-branding">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <img class="trustpilot-logo" src="assets/images/and-vector-smart-object@3x.png" alt="">
                    </li>
                    <li class="list-inline-item">
                        <img class="trustpilot-logo" src="assets/images/ios-vector-smart-object@3x.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 right-links">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-heading">
                        <p>Company</p>
                    </div>
                    <div class="footer-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Newsroom</a></li>
                        <li><a href="#">Contact</a></li>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-heading">
                        <p>Categories</p>
                    </div>
                    <div class="footer-links">
                        <li><a href="#">GameLow PAY</a></li>
                        <li><a href="#">GameLowGoldmine</a></li>
                        <li><a href="#">GameLow Gift Card</a></li>
                        <li><a href="#">GameLow Charity</a></li>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-heading">
                        <p>Services</p>
                    </div>
                    <div class="footer-links">
                        <li><a href="#">Support Hub</a></li>
                        <li><a href="#">Stay Safe</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy & Cookies</a></li>
                        <li><a href="#">Returns & Refunds</a></li>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-heading">
                        <p>Services</p>
                    </div>
                    <div class="footer-links">
                        <li><a href="#">Business Center</a></li>
                        <li><a href="#">Selling on GameLow</a></li>
                        <li><a href="#">Import via API</a></li>
                        <li><a href="#">Developer & Publisher</a></li>
                        <li><a href="#">Marketing Partnershp</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright">© Copyright 2011-2019 in GAMELOW | All rights reserved.</p>
</div>