<div class="container">
    <p class="main-title">Featured Gigs</p>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="gig-card">

                <div class="_card-header">
                    <img src="assets/images/games/assass. creed.origins.png" alt="">
                </div>
                <div class="_card-body">
                    <div class="gig-title">I will Create Good-Looking Cover Art For Twitch Channel</div>
                    <div class="gig-price">$125.00 <span class="float-right">
                            <fa-icon [icon]="faAngleRight"></fa-icon>
                        </span></div>
                </div>
                <div class="_card-footer">
                    <div class="user-profile-gig">
                        <ul class="list-inline">
                            <li class="list-inline-item"><img
                                    src="assets/images/backgrounds/adult-branded-shoes-close-up-2887474@3x.png" alt="">
                            </li>
                            <li class="list-inline-item">
                                <span class="gig-username">Liam Neeson</span><br>
                                <span class="gig-category">Ilustrator</span>
                            </li>
                            <li class="list-inline-item float-right">
                                <span class="user-gig-rating">
                                    <fa-icon [icon]="faStar"></fa-icon> 4.7
                                </span>
                                <br>
                                <span class="user-gig-total">47 Reviews</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="gig-card">

                <div class="_card-header">
                    <img src="assets/images/games/watch dogs e.png" alt="">
                </div>
                <div class="_card-body">
                    <div class="gig-title">I will Create Good-Looking Cover Art For Twitch Channel</div>
                    <div class="gig-price">$125.00 <span class="">
                            <fa-icon [icon]="faAngleRight"></fa-icon>
                        </span></div>
                </div>
                <div class="_card-footer">
                    <div class="user-profile-gig">
                        <ul class="list-inline">
                            <li class="list-inline-item"><img
                                    src="assets/images/backgrounds/adult-branded-shoes-close-up-2887474@3x.png" alt="">
                            </li>
                            <li class="list-inline-item">
                                <span class="gig-username">Liam Neeson</span><br>
                                <span class="gig-category">Ilustrator</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="user-gig-rating">
                                    <fa-icon [icon]="faStar"></fa-icon> 4.7
                                </span>
                                <br>
                                <span class="user-gig-total">47 Reviews</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="gig-card">

                <div class="_card-header">
                    <img src="assets/images/games/assass. creed.origins.png" alt="">
                </div>
                <div class="_card-body">
                    <div class="gig-title">I will Create Good-Looking Cover Art For Twitch Channel</div>
                    <div class="gig-price">$125.00 <span class="float-right">
                            <fa-icon [icon]="faAngleRight"></fa-icon>
                        </span></div>
                </div>
                <div class="_card-footer">
                    <div class="user-profile-gig">
                        <ul class="list-inline">
                            <li class="list-inline-item"><img
                                    src="assets/images/backgrounds/adult-branded-shoes-close-up-2887474@3x.png" alt="">
                            </li>
                            <li class="list-inline-item">
                                <span class="gig-username">Liam Neeson</span><br>
                                <span class="gig-category">Ilustrator</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="user-gig-rating">
                                    <fa-icon [icon]="faStar"></fa-icon> 4.7
                                </span>
                                <br>
                                <span class="user-gig-total">47 Reviews</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>