<div class="trending-products">
    <div class="container">
        <h2 class="title-main">Trending Products</h2>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-12 game-card">
                <div class="game-image">
                    <div class="game-icon">
                        <img src="assets/images/icons/steam-icon-logo@3x.png" class="img-fluid" alt="">
                    </div>
                    <img src="assets/images/games/callofdutyb03.png" class="img-fluid" alt="">
                    <div class="favorite-icon">
                        <span>
                            <fa-icon [icon]="faHeart"></fa-icon>
                        </span>
                    </div>
                </div>
                <div class="game-description">
                    <p class="title">Call of Duty Black OPS</p>
                    <p class="price">$5.00</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 game-card">
                <div class="game-image">
                    <div class="game-icon">
                        <img src="assets/images/icons/steam-icon-logo@3x.png" class="img-fluid" alt="">
                    </div>
                    <img src="assets/images/games/callofdutyb03.png" class="img-fluid" alt="">
                    <div class="favorite-icon">
                        <span>
                            <fa-icon [icon]="faHeart"></fa-icon>
                        </span>
                    </div>

                </div>
                <div class="game-description">
                    <p class="title">Assassin's Creed 3 </p>
                    <p class="price">$5.00</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 game-card">
                <div class="game-image">
                    <div class="game-icon">
                        <img src="assets/images/icons/steam-icon-logo@3x.png" class="img-fluid" alt="">
                    </div>
                    <img src="assets/images/games/45875.png" class="img-fluid" alt="">
                    <div class="favorite-icon">
                        <span>
                            <fa-icon [icon]="faHeart"></fa-icon>
                        </span>
                    </div>

                </div>
                <div class="game-description">
                    <p class="title">Destiny 2</p>
                    <p class="price">$5.00</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 game-card">
                <div class="game-image">
                    <div class="game-icon">
                        <img src="assets/images/icons/steam-icon-logo@3x.png" class="img-fluid" alt="">
                    </div>
                    <img src="assets/images/games/tombraider.png" class="img-fluid" alt="">
                    <div class="favorite-icon">
                        <span>
                            <fa-icon [icon]="faHeart"></fa-icon>
                        </span>
                    </div>

                </div>
                <div class="game-description">
                    <p class="title">Tomb Raider</p>
                    <p class="price">$5.00</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 game-card">
                <div class="game-image">
                    <div class="game-icon">
                        <img src="assets/images/icons/steam-icon-logo@3x.png" class="img-fluid" alt="">
                    </div>
                    <img src="assets/images/games/1258746.png" class="img-fluid" alt="">
                    <div class="favorite-icon">
                        <span>
                            <fa-icon [icon]="faHeart"></fa-icon>
                        </span>
                    </div>

                </div>
                <div class="game-description">
                    <p class="title">Battlefield 4</p>
                    <p class="price">$5.00</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 game-card">
                <div class="game-image">
                    <div class="game-icon">
                        <img src="assets/images/icons/steam-icon-logo@3x.png" class="img-fluid" alt="">
                    </div>
                    <img src="assets/images/games/2221358.png" class="img-fluid" alt="">
                    <div class="favorite-icon">
                        <span>
                            <fa-icon [icon]="faHeart"></fa-icon>
                        </span>
                    </div>

                </div>
                <div class="game-description">
                    <p class="title">Call of Duty</p>
                    <p class="price">$5.00</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 game-card">
                <div class="game-image">
                    <div class="game-icon">
                        <img src="assets/images/icons/steam-icon-logo@3x.png" class="img-fluid" alt="">
                    </div>
                    <img src="assets/images/games/777478.png" class="img-fluid" alt="">
                    <div class="favorite-icon">
                        <span>
                            <fa-icon [icon]="faHeart"></fa-icon>
                        </span>
                    </div>

                </div>
                <div class="game-description">
                    <p class="title">World of Warcraft</p>
                    <p class="price">$5.00</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 game-card">
                <div class="game-image">
                    <div class="game-icon">
                        <img src="assets/images/icons/steam-icon-logo@3x.png" class="img-fluid" alt="">
                    </div>
                    <img src="assets/images/games/369852.png" class="img-fluid" alt="">
                    <div class="favorite-icon">
                        <span>
                            <fa-icon [icon]="faHeart"></fa-icon>
                        </span>
                    </div>

                </div>
                <div class="game-description">
                    <p class="title">Need for Speed Rivals</p>
                    <p class="price">$5.00</p>
                </div>
            </div>
        </div>
    </div>
</div>