<div class="container">
    <div class="best-deals">
        <h2 class="heading-deals">Best Deals For</h2>
        <div class="row">
            <div class="col-sm-12 justify-content-center">
                <ul class="list-inline ">
                    <li class="list-inline-item">
                        <div class="card-deal">
                            <img src="assets/images/icons/game@3x.png" alt="">
                            <p class="deal-description">Games</p>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="card-deal">
                            <img src="assets/images/icons/gaming@3x.png" alt="">
                            <p class="deal-description">Gaming
                                Accessories</p>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="card-deal">
                            <img src="assets/images/icons/consumer@3x.png" alt="">
                            <p class="deal-description">Consumer
                                Electronics</p>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="card-deal">
                            <img src="assets/images/icons/gift-cards@3x.png" alt="">
                            <p class="deal-description">Gift Cards</p>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="card-deal">
                            <img src="assets/images/icons/deal-zone@3x.png" alt="">
                            <p class="deal-description">Deal Zone</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>