<div class="container gamelow-container">
    <p class="main-title">Gamelow Products</p>
    <div class="tile-section-products">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 gamelow-prod-tile">
                <img src="assets/images/games/76d7g67fgf7.png" alt="">
                <div class="shadow">
                    <div class="row overlay-content">
                        <div class="col-sm-8">
                            <p class="tile-description">Gears of War 4 XBOX LIVE + Windows
                                10 Key Global</p>
                        </div>
                        <div class="col-sm-4 float-right">
                            <button class="arrow-left-button"><span class="pre-icon">
                                    <fa-icon [icon]="faAngleRight"></fa-icon>
                                </span> <span class="post-text">$18.50</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 gamelow-prod-tile">
                <img src="assets/images/games/devil-may-cry-16-wallpaper-1920-x-1080@3x.png" alt="">
                <div class="shadow">
                    <div class="row overlay-content">
                        <div class="col-sm-8">
                            <p class="tile-description">Gears of War 4 XBOX LIVE + Windows
                                10 Key Global</p>
                        </div>
                        <div class="col-sm-4 float-right">
                            <button class="arrow-left-button"><span class="pre-icon">
                                    <fa-icon [icon]="faAngleRight"></fa-icon>
                                </span> <span class="post-text">$18.50</span></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 gamelow-prod-tile">
                <img src="assets/images/games/watch-dogs-legion-game-2020-wallpaper-5120-x-2160@3x.png" alt="">
                <div class="shadow">
                    <div class="row overlay-content">
                        <div class="col-sm-8">
                            <p class="tile-description">Gears of War 4 XBOX LIVE + Windows
                                10 Key Global</p>
                        </div>
                        <div class="col-sm-4 float-right">
                            <button class="arrow-left-button"><span class="pre-icon">
                                    <fa-icon [icon]="faAngleRight"></fa-icon>
                                </span> <span class="post-text">$18.50</span></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 gamelow-prod-tile">
                <img src="assets/images/games/crusaders-of-light-game-wallpaper-5120-x-2880@3x.png" alt="">
                <div class="shadow">
                    <div class="row overlay-content">
                        <div class="col-sm-8">
                            <p class="tile-description">Gears of War 4 XBOX LIVE + Windows
                                10 Key Global</p>
                        </div>
                        <div class="col-sm-4 float-right">
                            <button class="arrow-left-button"><span class="pre-icon">
                                    <fa-icon [icon]="faAngleRight"></fa-icon>
                                </span> <span class="post-text">$18.50</span></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>