<div class="container-fluid">
    <p class="main-title">Hot In Game Trading</p>
    <div class="block-trading">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 card-block-game-display">
                <img src="assets/images/games/watch-dogs-26-wallpaper-2048-x-1152@3x.png" alt="">
                <div class="trading-overlay">
                    <span class="category-badge">War Game</span>
                    <p class="category-desc">Gears of War 4 XBOX LIVE + Windows 10 Key Global
                        Windows 10 Key Global</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 card-block-game-display">
                <img src="assets/images/games/watch-dogs-26-wallpaper-2048-x-1152@3x.png" alt="">
                <div class="trading-overlay">
                    <span class="category-badge">War Game</span>
                    <p class="category-desc">Gears of War 4 XBOX LIVE + Windows 10 Key Global
                        Windows 10 Key Global</p>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 card-block-game-display">
                <img src="assets/images/games/dsdf110741@3x.png" alt="">
                <div class="trading-overlay">
                    <span class="category-badge">War Game</span>
                    <p class="category-desc">Gears of War 4 XBOX LIVE + Windows 10 Key Global
                        Windows 10 Key Global</p>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 card-block-game-display">
                <img src="assets/images/games/saf@3x.png" alt="">
                <div class="trading-overlay">
                    <span class="category-badge">War Game</span>
                    <p class="category-desc">Gears of War 4 XBOX LIVE + Windows 10 Key Global
                        Windows 10 Key Global</p>
                </div>

            </div>
        </div>
    </div>
</div>