<div class="">
  <div class="top-banner">
    <div class="container">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">
            <img src="assets/images/main-log.png" class="main-logo" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <form class="form-inline">
            <div class="input-group header-search">
              <input type="text" class=" header-search-bar" placeholder="Search here..." aria-label=""
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                  <fa-icon [icon]="faSearch"></fa-icon>
                </span>
              </div>
            </div>
          </form>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto nav-links-custom">
              <li class="nav-item icon-links">
                <a class="nav-link" href="#">
                  <img src="assets/images/backgrounds/dollar-sign-icon-svg-png-orion-icon-library-18@3x.png" alt="">
                  <span>Start Selling</span></a>
              </li>
              <li class="nav-item icon-links">
                <a class="nav-link" href="#">
                  <img src="assets/images/backgrounds/male-user-icon-svg-png-orion-icon-library-18@3x.png" alt="">
                  <span>Login</span></a>
              </li>

              <button class="arrow-left-button"><span class="pre-icon">
                  <fa-icon [icon]="faAngleRight"></fa-icon>
                </span> <span class="post-text">Register</span></button>
            </ul>

          </div>
        </nav>
      </header>
    </div>
    <section class="hero-section">
      <div class="container custom-nav-style">
        <nav ngbNav #nav="ngbNav" class="nav-tabs nav-fill">
          <ng-container ngbNavItem>
            <a ngbNavLink>Store*</a>
            <ng-template ngbNavContent>
              <p class="hero-heading">Best Deals For</p>
              <p class="big-hero-heading">Gamers & Geeks</p>
              <p class="hero-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              <button class="arrow-left-button hero-description-button"><span class="pre-icon">
                  <fa-icon [icon]="faAngleRight"></fa-icon>
                </span> <span class="post-text">Check out the best games at origin</span>
              </button>
              <div class="hero-slider-section">
                <p class="slider-title">Tom Clancy's Ghost Recon</p>
                <div class="slider-images">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/call_of_duty_ghosts-HD.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/crysis.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/assassin's creed.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink>Games*</a>
            <ng-template ngbNavContent>
              <p class="hero-heading">Best Deals For</p>
              <p class="big-hero-heading">Gamers & Geeks</p>
              <p class="hero-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              <button class="arrow-left-button hero-description-button"><span class="pre-icon">
                  <fa-icon [icon]="faAngleRight"></fa-icon>
                </span> <span class="post-text">Check out the best games at origin</span>
              </button>
              <div class="hero-slider-section">
                <p class="slider-title">Tom Clancy's Ghost Recon</p>
                <div class="slider-images">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/call_of_duty_ghosts-HD.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/crysis.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/assassin's creed.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink>Gift Cards*</a>
            <ng-template ngbNavContent>
              <p class="hero-heading">Best Deals For</p>
              <p class="big-hero-heading">Gamers & Geeks</p>
              <p class="hero-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              <button class="arrow-left-button hero-description-button"><span class="pre-icon">
                  <fa-icon [icon]="faAngleRight"></fa-icon>
                </span> <span class="post-text">Check out the best games at origin</span>
              </button>
              <div class="hero-slider-section">
                <p class="slider-title">Tom Clancy's Ghost Recon</p>
                <div class="slider-images">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/call_of_duty_ghosts-HD.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/crysis.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/assassin's creed.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink>Steam Gifts</a>
            <ng-template ngbNavContent>
              <p class="hero-heading">Best Deals For</p>
              <p class="big-hero-heading">Gamers & Geeks</p>
              <p class="hero-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              <button class="arrow-left-button hero-description-button"><span class="pre-icon">
                  <fa-icon [icon]="faAngleRight"></fa-icon>
                </span> <span class="post-text">Check out the best games at origin</span>
              </button>
              <div class="hero-slider-section">
                <p class="slider-title">Tom Clancy's Ghost Recon</p>
                <div class="slider-images">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/call_of_duty_ghosts-HD.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/crysis.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/assassin's creed.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink>Xbox</a>
            <ng-template ngbNavContent>
              <p class="hero-heading">Best Deals For</p>
              <p class="big-hero-heading">Gamers & Geeks</p>
              <p class="hero-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              <button class="arrow-left-button hero-description-button"><span class="pre-icon">
                  <fa-icon [icon]="faAngleRight"></fa-icon>
                </span> <span class="post-text">Check out the best games at origin</span>
              </button>
              <div class="hero-slider-section">
                <p class="slider-title">Tom Clancy's Ghost Recon</p>
                <div class="slider-images">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/call_of_duty_ghosts-HD.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/crysis.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/assassin's creed.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink>PSN</a>
            <ng-template ngbNavContent>
              <p class="hero-heading">Best Deals For</p>
              <p class="big-hero-heading">Gamers & Geeks</p>
              <p class="hero-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              <button class="arrow-left-button hero-description-button"><span class="pre-icon">
                  <fa-icon [icon]="faAngleRight"></fa-icon>
                </span> <span class="post-text">Check out the best games at origin</span>
              </button>
              <div class="hero-slider-section">
                <p class="slider-title">Tom Clancy's Ghost Recon</p>
                <div class="slider-images">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/call_of_duty_ghosts-HD.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/crysis.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/assassin's creed.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink>Nintendo</a>
            <ng-template ngbNavContent>
              <p class="hero-heading">Best Deals For</p>
              <p class="big-hero-heading">Gamers & Geeks</p>
              <p class="hero-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              <button class="arrow-left-button hero-description-button"><span class="pre-icon">
                  <fa-icon [icon]="faAngleRight"></fa-icon>
                </span> <span class="post-text">Check out the best games at origin</span>
              </button>
              <div class="hero-slider-section">
                <p class="slider-title">Tom Clancy's Ghost Recon</p>
                <div class="slider-images">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/call_of_duty_ghosts-HD.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/crysis.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/assassin's creed.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink>Software</a>
            <ng-template ngbNavContent>
              <p class="hero-heading">Best Deals For</p>
              <p class="big-hero-heading">Gamers & Geeks</p>
              <p class="hero-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              <button class="arrow-left-button hero-description-button"><span class="pre-icon">
                  <fa-icon [icon]="faAngleRight"></fa-icon>
                </span> <span class="post-text">Check out the best games at origin</span>
              </button>
              <div class="hero-slider-section">
                <p class="slider-title">Tom Clancy's Ghost Recon</p>
                <div class="slider-images">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/call_of_duty_ghosts-HD.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/crysis.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/assassin's creed.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink>Gigs</a>
            <ng-template ngbNavContent>
              <p class="hero-heading">Best Deals For</p>
              <p class="big-hero-heading">Gamers & Geeks</p>
              <p class="hero-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              <button class="arrow-left-button hero-description-button"><span class="pre-icon">
                  <fa-icon [icon]="faAngleRight"></fa-icon>
                </span> <span class="post-text">Check out the best games at origin</span>
              </button>
              <div class="hero-slider-section">
                <p class="slider-title">Tom Clancy's Ghost Recon</p>
                <div class="slider-images">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/call_of_duty_ghosts-HD.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/crysis.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="image-holder">
                        <img src="assets/images/games/assassin's creed.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </nav>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </section>
  </div>
</div>
<div class="deals-bg">
  <app-deals></app-deals>
</div>
<div class="trending">
  <app-trending-products></app-trending-products>
</div>
<div class="gamelow-products">
  <app-gamelow-products></app-gamelow-products>
</div>
<div class="products-two">
  <app-products-two></app-products-two>
</div>
<div class="hot-game-trending">
  <app-hot-game-trending></app-hot-game-trending>
</div>
<div class="featured-gigs">
  <app-featured-gigs></app-featured-gigs>
</div>
<footer class="home-page-footer">
  <app-footer-section>

  </app-footer-section>
</footer>