<div class="products-gamelow-two">
    <div class="container custom-nav-products">
        <p class="main-title">Gamelow products</p>
        <nav ngbNav #nav="ngbNav" class="nav-tabs nav-fill">
            <ng-container ngbNavItem>
                <a ngbNavLink>BestSellers</a>
                <ng-template ngbNavContent>
                    <div class="container"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="prod-two-tile">

                                <div class="row">
                                    <div class="col-sm-4 img-left">
                                        <img src="assets/images/games/watch-dogs-30-wallpaper-7680-x-4320@3x.png"
                                            alt="">
                                    </div>
                                    <div class="col-sm-8 tile-content">
                                        <div class="table-cell">
                                            <p>The Lego Movie Video Game: Windows 10 Edition Microsoft Key GLOBAL</p>
                                            <button class="arrow-left-button"><span class="pre-icon">
                                                    <fa-icon [icon]="faAngleRight"></fa-icon>
                                                </span> <span class="post-text">$18.50</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="prod-two-tile">
                                <div class="row">
                                    <div class="col-sm-4 img-left">
                                        <img src="assets/images/games/watch-dogs-30-wallpaper-7680-x-4320@3x.png"
                                            alt="">
                                    </div>
                                    <div class="col-sm-8 tile-content">
                                        <div class="table-cell">
                                            <p>The Lego Movie Video Game: Windows 10 Edition Microsoft Key GLOBAL</p>
                                            <button class="arrow-left-button"><span class="pre-icon">
                                                    <fa-icon [icon]="faAngleRight"></fa-icon>
                                                </span> <span class="post-text">$18.50</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="prod-two-tile">
                                <div class="row">
                                    <div class="col-sm-4 img-left">
                                        <img src="assets/images/games/watch-dogs-30-wallpaper-7680-x-4320@3x.png"
                                            alt="">
                                    </div>
                                    <div class="col-sm-8 tile-content">
                                        <div class="table-cell">
                                            <p>The Lego Movie Video Game: Windows 10 Edition Microsoft Key GLOBAL</p>
                                            <button class="arrow-left-button"><span class="pre-icon">
                                                    <fa-icon [icon]="faAngleRight"></fa-icon>
                                                </span> <span class="post-text">$18.50</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="prod-two-tile">
                                <div class="row">
                                    <div class="col-sm-4 img-left">
                                        <img src="assets/images/games/watch-dogs-30-wallpaper-7680-x-4320@3x.png"
                                            alt="">
                                    </div>
                                    <div class="col-sm-8 tile-content">
                                        <div class="table-cell">
                                            <p>The Lego Movie Video Game: Windows 10 Edition Microsoft Key GLOBAL</p>
                                            <button class="arrow-left-button"><span class="pre-icon">
                                                    <fa-icon [icon]="faAngleRight"></fa-icon>
                                                </span> <span class="post-text">$18.50</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
                <a ngbNavLink>Latest Releases</a>
                <ng-template ngbNavContent>
                    <div class="container"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="prod-two-tile">

                                <div class="row">
                                    <div class="col-sm-4 img-left">
                                        <img src="assets/images/games/watch-dogs-30-wallpaper-7680-x-4320@3x.png"
                                            alt="">
                                    </div>
                                    <div class="col-sm-8 tile-content">
                                        <div class="table-cell">
                                            <p>The Lego Movie Video Game: Windows 10 Edition Microsoft Key GLOBAL</p>
                                            <button class="arrow-left-button"><span class="pre-icon">
                                                    <fa-icon [icon]="faAngleRight"></fa-icon>
                                                </span> <span class="post-text">$18.50</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="prod-two-tile">
                                <div class="row">
                                    <div class="col-sm-4 img-left">
                                        <img src="assets/images/games/watch-dogs-30-wallpaper-7680-x-4320@3x.png"
                                            alt="">
                                    </div>
                                    <div class="col-sm-8 tile-content">
                                        <div class="table-cell">
                                            <p>The Lego Movie Video Game: Windows 10 Edition Microsoft Key GLOBAL</p>
                                            <button class="arrow-left-button"><span class="pre-icon">
                                                    <fa-icon [icon]="faAngleRight"></fa-icon>
                                                </span> <span class="post-text">$18.50</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="prod-two-tile">
                                <div class="row">
                                    <div class="col-sm-4 img-left">
                                        <img src="assets/images/games/watch-dogs-30-wallpaper-7680-x-4320@3x.png"
                                            alt="">
                                    </div>
                                    <div class="col-sm-8 tile-content">
                                        <div class="table-cell">
                                            <p>The Lego Movie Video Game: Windows 10 Edition Microsoft Key GLOBAL</p>
                                            <button class="arrow-left-button"><span class="pre-icon">
                                                    <fa-icon [icon]="faAngleRight"></fa-icon>
                                                </span> <span class="post-text">$18.50</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="prod-two-tile">
                                <div class="row">
                                    <div class="col-sm-4 img-left">
                                        <img src="assets/images/games/watch-dogs-30-wallpaper-7680-x-4320@3x.png"
                                            alt="">
                                    </div>
                                    <div class="col-sm-8 tile-content">
                                        <div class="table-cell">
                                            <p>The Lego Movie Video Game: Windows 10 Edition Microsoft Key GLOBAL</p>
                                            <button class="arrow-left-button"><span class="pre-icon">
                                                    <fa-icon [icon]="faAngleRight"></fa-icon>
                                                </span> <span class="post-text">$18.50</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
                <a ngbNavLink>Pre-orders</a>
                <ng-template ngbNavContent>
                    <div class="container"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="prod-two-tile">

                                <div class="row">
                                    <div class="col-sm-4 img-left">
                                        <img src="assets/images/games/watch-dogs-30-wallpaper-7680-x-4320@3x.png"
                                            alt="">
                                    </div>
                                    <div class="col-sm-8 tile-content">
                                        <div class="table-cell">
                                            <p>The Lego Movie Video Game: Windows 10 Edition Microsoft Key GLOBAL</p>
                                            <button class="arrow-left-button"><span class="pre-icon">
                                                    <fa-icon [icon]="faAngleRight"></fa-icon>
                                                </span> <span class="post-text">$18.50</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="prod-two-tile">
                                <div class="row">
                                    <div class="col-sm-4 img-left">
                                        <img src="assets/images/games/watch-dogs-30-wallpaper-7680-x-4320@3x.png"
                                            alt="">
                                    </div>
                                    <div class="col-sm-8 tile-content">
                                        <div class="table-cell">
                                            <p>The Lego Movie Video Game: Windows 10 Edition Microsoft Key GLOBAL</p>
                                            <button class="arrow-left-button"><span class="pre-icon">
                                                    <fa-icon [icon]="faAngleRight"></fa-icon>
                                                </span> <span class="post-text">$18.50</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="prod-two-tile">
                                <div class="row">
                                    <div class="col-sm-4 img-left">
                                        <img src="assets/images/games/watch-dogs-30-wallpaper-7680-x-4320@3x.png"
                                            alt="">
                                    </div>
                                    <div class="col-sm-8 tile-content">
                                        <div class="table-cell">
                                            <p>The Lego Movie Video Game: Windows 10 Edition Microsoft Key GLOBAL</p>
                                            <button class="arrow-left-button"><span class="pre-icon">
                                                    <fa-icon [icon]="faAngleRight"></fa-icon>
                                                </span> <span class="post-text">$18.50</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="prod-two-tile">
                                <div class="row">
                                    <div class="col-sm-4 img-left">
                                        <img src="assets/images/games/watch-dogs-30-wallpaper-7680-x-4320@3x.png"
                                            alt="">
                                    </div>
                                    <div class="col-sm-8 tile-content">
                                        <div class="table-cell">
                                            <p>The Lego Movie Video Game: Windows 10 Edition Microsoft Key GLOBAL</p>
                                            <button class="arrow-left-button"><span class="pre-icon">
                                                    <fa-icon [icon]="faAngleRight"></fa-icon>
                                                </span> <span class="post-text">$18.50</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </nav>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>